set scrolloff=10

set NERDTree
set RenameElement

set incsearch

map Q gq


let mapleader= " "

map <leader>re <Action>(RenameElement)
map / <Action>(Find)
map <leader>ff <Action>(SearchEverywhere)
map <leader>gd <Action>(GotoDeclaration)
map <leader>fu <Action>(ShowUsages)
map <leader>n <Action>(NewClass)
map <leader>t <Action>(RefactoringMenu)
map <leader>d <Action>(Debug)
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>e <Action>(GotoNextError)
map <leader>o <Action>(FileStructurePopup)
map <C-n> <Action>(NextTab)
map <C-p> <Action>(PreviousTab)
map <leader>co <Action>(CloseAllEditorsButActive)

set relativenumber number
